<section class="flex flex-col h-screen max-h-screen ">
  <header class="absolute w-full py-0 mb-2 print:hidden">
    <nav class="navbar bg-base-300">
      <div class="hidden flex-0 md:block">
        <!-- GitHub and LinkedIn Icons on the Left -->
        <ul class="flex gap-4 ml-4">
          <li>
            <a href="https://github.com/sul-otaibi" target="_blank" class="p-1 text-xl">
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://my-portfolio-sultan.netlify.app/" target="_blank" class="p-1 text-xl">
              <i class="fa-solid fa-globe"></i>
            </a>
          </li>
        </ul>
      </div>
  
      <!-- Centered Title -->
      <div class="justify-center flex-1">
        <!-- <span class="text-xl font-extrabold">ATS Resume Builder <span class="text-xs font-light">BETA</span></span> -->
        <div class="indicator">
          <span class="bg-transparent border-0 indicator-item badge">BETA</span>
          <div class="px-5 text-xl font-extrabold place-items-center">ATS Resume Builder</div>
        </div>
      </div>
  
      <!-- Menu on the Right Side, collapses on small screens -->
      <div class="flex-none">
        <div class="dropdown dropdown-end md:hidden">
          <label tabindex="0" class="btn btn-ghost">
            <i class="fa-solid fa-bars"></i>
          </label>
          <ul tabindex="0" class="w-56 gap-4 p-2 mt-3 shadow menu dropdown-content bg-base-100 rounded-box">
            <li><a href="#" class="btn btn-primary" (click)="print()">Print</a></li>
            <li>
              <a href="https://github.com/sul-otaibi" target="_blank" class="text-xl">
                <i class="fa-brands fa-github"></i>Github
              </a>
            </li>
            <li>
              <a href="https://my-portfolio-sultan.netlify.app/" target="_blank" class="text-xl">
                <i class="fa-solid fa-globe"></i> Developer's website
              </a>
            </li>
          </ul>
        </div>
  
        <!-- Full Menu for larger screens -->
        <ul class="hidden px-1 md:flex">
          <li class="text-lg font-extrabold btn btn-primary text-base-100 md:mx-5" (click)="print()">PRINT!</li>
        </ul>
      </div>
    </nav>
  </header>
  
  <section class="flex flex-wrap justify-center flex-grow max-h-full gap-10 pt-16 pb-16 md:pt-20 lg:flex-nowrap md:pb-10 sm:px-20 print:block print:p-0 print:m-0 print:bg-white">
    <app-resume-form class="flex-grow max-h-full md:mx-2 lg:max-w-[40%] overflow-y-auto print:hidden" 
                     (onFormDataChange)="rerenderResume($event)">
    </app-resume-form>
    <div class="h-full md:min-w-fit text-[10px] mx-2 aspect-A4 overflow-hidden border-2 border-base-300 
                md:text-[13px] print:block print:h-screen print:overflow-hidden print:aspect-auto 
                print:border-0 print:text-[16px]">
      <app-preview-container [formData]="formData"></app-preview-container>
    </div>
  </section>
</section>
